@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body{
     margin: 0;
     padding: 0;
     background: radial-gradient(148.19% 189.84% at -24.31% -17.21%, #273037 0.20%, #050406 67.22%);
     background-repeat: no-repeat;
  
    
}

.header__container{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    
    
}

.brand__content{
    margin: 0px 0px 0px 44px;
    cursor: pointer;
}


.brand__logo{
    width: 50px;
   
}

.brand__title{
    width: 187px;
}




.navigation__links, .nav__item{
    display: flex;
    
}



.nav__item li a{
    text-decoration: none;
    color: #cacaca;
    font-family: 'Poppins', sans-serif;
    padding: 55px;
    transition: 0.5s;
    
}

.nav__item li a:hover{
    color: #8a8787;
    
}

.nav__item li{
    list-style: none;
    font-weight: bold;
    font-size: 17px;
}


.btn__content{
    margin: 0px 55px 0px 0px;
    cursor: pointer;
}


.login__btn{
    width: 129px;
    height: 51px;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    outline: none;
    transition: 0.5s ;
    
}





.signup__btn{
    width: 129px;
    height: 51px;
    border: 1px solid #000000;
    background-color: #000000;
    color: #ffffff;
    margin: 0px 0px 0px 18px;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
    
}

.signup__btn:hover{
   background-color: #0c0c0c;
   
}


main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main h1{
    font-size: 62px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;
}

main p{
    color: #807F7F;
    font-family: 'Open Sans', sans-serif;
}

.column__container{
    display: flex;
    align-items: center;
}

.description__container{
    margin: 15px;
}


.description__container img{
    width: 150px;
}


.column__desc{
    flex-direction: column;
    
}

.console__btn{
    width: 250px;
    height: 68px;
    margin: 90px 0px 0px 0px ;
    background: linear-gradient(to right, #0BE7FF, #2273AE);
    font-size: 17px;
    outline: none;
    border: 1px solid #ffffff;
    border-radius: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.5s;

}


.console__btn:hover{
  background: transparent;
  color: #ffffff;
}


.console__bg__cont{
   margin-top: -60px;
   margin-left: 55px;
   
  
   
}

.console__bg{
    background: url("images/main-background.png");
    margin-top: 120px;
    border-radius: 14px;
    
}


.console__bg img{
    width: 750px;
    
    
}


.blog__title{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 38px;
}

span{
    color: #00C7FF;
}

.games__cont{
    margin: 130px;
    font-family: 'Open Sans', sans-serif;
}

.line{
    width: 160px;
    height: 6px;
    background-color:#02C7E3;
}

.games__cont img{
  width: 350px;
  margin-top: 50px;
  cursor: pointer;
  
}


.game__desc{
    display: flex;
}

.game__desc h1{
 color: #ffffff;
 font-size: 40px;
 line-height: 70px;
 
 

}

.personal__cont{
   display: block;
   margin: 20px 0px 0px 48px;
}

.personal__cont h3{
    color: #07D6FF;
    
    
}

.personal__cont p{
    color: #959595;
}

.personal__text {
    color: #D8D8D8;
    
    
}

.console__games__row{
   display: flex;
   justify-content: space-between;
   align-items: center;
    
}



.console__games{
    margin-top: 80px;
}

.console__games img{
    width: 360px;
    cursor: pointer;
    transition: 0.5s;
    filter: grayscale(100%);
    transition: 0.5s;
}


.console__games img:hover{
    transform: scale(1.1);
    filter: grayscale(0);
    transform: translateY(-30px);
}




.console__games h2{
    color: #DDDDDD;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: 1px;
}

.console__games p{
    color: #848484;
    margin-top: -12px;
}

hr{
    border-color: #02C7E3;
}

.footer__cont {
    margin-top: 120px;
  
}

.footer__cont img{
    width: 230px;
}

input{
    width: 361px;
    height: 40px;
    margin-top: 25px;
    color:#9e9e9e ;
    background: transparent;
    border: 1px solid #ffffff;
    padding: 0px 0px 0px 23px;
    border-radius: 15px;
    outline: none;
    transition: 0.5s;
}

input:focus{
    border: 1px solid #4FE9FB;
}

.footer__section{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn__input{
    width: 50px;
}

.footer__end{
    text-align: center;
    color: #bbbbbb;
    font-family:  'Open Sans', sans-serif;
}

.footer__section img{
    cursor: pointer;
}

@media (max-width: 1680px){
    body{
        margin: 0;
        padding: 0;
    }
    .games__cont{
        margin: 45px;
    }
    
}


@media (max-width: 1514px){
    .console__bg img{
        width: 600px;
    }
}

@media (max-width: 1479px){
    .console__games img{
        width: 300px;
        margin-left: 20px;
    }
}


@media (max-width: 1330px){
    .console__bg img{
        width: 550px;
        
    }

    .main h1{
        font-size: 50px;
    }
}


@media (max-width: 1321px){
    .console__games__row {
     justify-content: space-between;
     align-items: center;
     display: flex;
       
    }

    .console__games img{
         width: 270px;
         margin: 0;
    }


    .games__cont img {
        width: 270px;
    }

    .game__desc h1{
        line-height: 50px;
        font-size: 40px;
    }

    


    .console__games h2{
        font-size: 18px;
        
    }

    .login__btn{
        display: none;
    }

    .signup__btn{
        display: none;
    }

   
}


@media (max-width: 1257px){
    main h1{
        font-size: 50px;
    }
}


@media (max-width: 1219px){
    .console__bg img{
        width: 400px;
    }

    main h1{
        font-size: 45px;
    }

    .console__games__row{
       text-align: center;
       margin-top: 50px;
       
        
    }
    .console__games img{
     width: 250px;
    }
   
}


@media (max-width: 1125px){
    nav__item li{
        font-size: 10px;
    }

    .console__games img{
        width: 220px;
       }

       .console__btn{
           width: 200px;
           height: 50px;
       }

      .console__games h2 {
          font-size: 15px;
          text-align: left;
      }
}


@media (max-width: 1000px){
.console__bg img {
  display: none;
}

.brand__content{
    display: none;
}
 
ul{
    margin-left: 100px;
}

.game__desc h1{
    font-size: 30px;
}


.console__games__row{
    justify-content: space-between;
    align-items: center;
   
}


.console__games img{
    width: 200px;
}

.game__desc img{
  
   width: 220px;
}
 
}

@media (max-width: 853px){
    .console__games img{
        width: 170px;
    }

    .console__games h2{
        text-align: center;
        font-size: 12px;
    }

    .console__games p{
        font-size: 9px;
    }

    main{
        text-align: center;
    }

    ul{
       margin: 30px;
    }


        
}


@media (max-width: 778px){
  
    ul{
        margin: auto;
    }

    .column__desc{
        margin-top: 50px;
        margin-left: 50px;
      
    }

    .games__cont{
        margin-top: 100px;
    }

    .game__desc{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .personal__cont h1{
        font-size: 25px;
        line-height: 30px;
    }


    .console__games__row{
        display: block;
    }

    .console__games__row img{
        width: 350px;
        
    }

    .console__games h2{
        font-size: 18px;
    }

    .footer__section img{
      width: 170px;
    }

    input{
        display: none;
    }

    
}

@media (max-width: 732px){
   ul a{
      
      font-size: 16px;
      text-align: center;
   }

  
}


@media (max-width: 695px){
    body{
        margin: 0 auto;
        padding: 0 auto;
    }
 .console__games__row img{
     width: 300px;
 }

 ul a{
     font-size: 12px;
     margin: 0px 5px 0px 0px ;
 }

 
}

@media (max-width: 671px){
    main h1{
        font-size: 40px;
    }

    ul a{
        display: none;
    }
}

@media (max-width: 547px){

    .personal__cont{
       display: block;
    }

   
   .personal__cont h1{
       font-size: 20px;
       line-height: 20px;
   }
}


@media (max-width: 538px){
    .column__desc h1{
        font-size: 45px;

    
}
.description__container img{
    width: 120px;
}

}

@media (max-width: 525px){
    .game__desc{
        display: block;
        text-align: center;
        
    }
     .column__desc h1{
         font-size: 32px;
     }

     

     
}

    .personal__cont{
        font-size: 18px;
        text-align: center;
        margin:0px 6px 0px 0px ;
        
    }

    .personal__cont p{
        font-size: 13px;
    }
}

@media (max-width: 472px){
    .personal__cont h1{
        font-size: 25px;
        text-align: center;
        line-height: 38px;
    }

    .game__desc{
        display: block;
        text-align: center;
        
    }

    .game__desc img{
        margin-left: 7px;
    }

    .personal__cont p{
        text-align: center;
        font-size: 16px;
    }

    .personal__cont{
        text-align: center;
        margin: 0px 5px 0px 0px;
    }

    .blog__title{
        font-size: 30px;
    }
}

@media (max-width: 463px){
   .description__container img{
       width:90px;
   }


   .console__games__row img{
       width: 220px;
       margin: 0px 15px 0px 0px;
   }
}


@media (max-width: 382px){
    .description__container img{
        width:77px;
    }

    

    .column__desc h1 {
        font-size: 25px;
        
    }

    .personal__cont p {
        font-size: 10px;
      
    }

    .blog__title {
       
        font-size: 33px;
}

@media (max-width: 367px){
    body{
        margin: 0 auto;
        padding: 0 auto;
    }
    .column__desc {
        margin-left: 35px;
    }

    .console__games h2 {
        font-size: 15px;
    }

   .game__desc{
       margin-right: 10px;
   }

   .personal__cont h1 {
    font-size: 17px;
    line-height: 20px;
}

.console__games {
    margin-top: 65px;
}
}







